<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_QuanAnNhanhConnectionString"
            connectionString="Data Source=MMT-LEVANTHONG\SQLEXPRESS;Initial Catalog=QL_QuanAnNhanh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>